.StaveWrapper {
  height: calc(100vh / 4);
  width: 100vw;
  /*border: 1px solid black;*/

  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.Stave {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Stave div {
  flex: 1;
}

.line {
  /*background-color: red;*/
  position: relative;
  display: flex;
  align-items: center;
}

.line .center_line {
  height: 2px;
  background-color: #000;
  box-sizing: border-box;
}

.line .center_line.short {
  margin-left: 10px;
  margin: 0 calc(45%) 0 calc(45%);
}

.void {
  /*background-color: green;*/
  display: flex;
  position: relative;
}

.SolKey {
  /*border: 1px solid black;*/
  height: calc(100vh / 5);
  top: 0px;
  left: 0px;
  padding-left: 10px;
  position: absolute;
  box-sizing: border-box;
}


.string_red {
  background-color: #ff000022;
}
.string_blue {
  background-color: #0000ff22;
}
.string_green {
  background-color: #00ff0022;
}
.string_orange {
  background-color: #aaaa0022;
}


.note {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.note svg {
  position: absolute;
  flex: 1;
  height: 250%;
  top: -75%;
}

/*.note {
  height: 200%;
  top: -70%;
  left: 0px;
  padding-left: 50%;
  position: absolute;
}*/
/*.note {
  position: absolute;
  top: -2px;
  left: calc(100vw / 2);
  width: calc(100vh / 32);
  height: calc(100vh / 50);
  background-color: black;
  border-radius: 50%;
  box-sizing: border-box;
}

.line .note {
  position: relative;
  top: -5px;
}*/
