.App {
  height: 100vh;
}

.App p{
  text-align: center;
}

.App-center {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-center .App-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
